host = 'sql2-t.its.uu.se'
port = '4339'
passord = ''
#host = 'sql2.its.uu.se'
#port = '3338'
#passord = ''
database = 'svenska_sagor'
user = 'svenska_sagor_c'
es_user = 'elastic'
es_password = ''
key = ''
allowed_host = '127.0.0.1', '*.isof.se'
